html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.pic {
  height: 70rem;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.pics {
  height: 40rem;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar-nav {
  margin: 0 auto;
}

.header-main-bg {
  background-image: url(./img/gate.jpeg);
}

.container {
  max-width: 100%;
}

.header-main {
  width: 100%;
}

.header-main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-main__profile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-main__picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-main_item {
  position: relative;
  left: 2.2rem;
  top: 10rem;
  width: 609px;
  height: 500px;
}

.header-main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: monospace;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  margin-left: -4.4rem;
}

.sect-flip-card {
  background-image: url(./img/gate.jpeg);
}

.container {
  position: relative;
  top: 6%;
}

.container .sect-flip-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .sect-flip-card__wrapper .flip-card {
  background: transparent;
  width: 318px;
  height: 475px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.container .sect-flip-card__wrapper .flip-card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 2px solid black;
  background-image: url(./img/nathan.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 black;
          box-shadow: 0 4px 8px 0 black;
}

.container .sect-flip-card__wrapper .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container .sect-flip-card__wrapper .flip-card-front .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .sect-flip-card__wrapper .flip-card-front {
  background-color: #bbb;
  color: black;
}

.container .sect-flip-card__wrapper .flip-card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: ivory;
  color: black;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sect-flip-card__picture {
  margin-left: 34rem;
}

.sect-flip-card__block {
  margin: 2rem;
  border: 2px solid black;
  -webkit-box-shadow: 0 4px 8px 0 black;
          box-shadow: 0 4px 8px 0 black;
  background-color: #fffff555;
  width: 400px;
  height: 400px;
}

.sect-flip-card__title {
  margin: 1rem;
  text-align: center;
}

.sect-flip-card__content {
  margin: 1rem;
  text-align: center;
}

.skill-grid {
  background-image: url(./img/gate.jpeg);
}

.skill-grid .container {
  position: relative;
  top: 5%;
}

.skill-grid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-grid .skill-grid__block {
  margin: 1rem;
  border: 2px solid black;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0 4px 8px 0 black;
          box-shadow: 0 4px 8px 0 black;
}

.skill-grid .skill-grid__block:nth-child(1) {
  background-color: #fffff555;
}

.skill-grid .skill-grid__block:nth-child(2) {
  background-color: #fffff5cb;
}

.skill-grid .skill-grid__block:nth-child(3) {
  background-color: #fffff555;
}

.skill-grid .skill-grid__block:nth-child(4) {
  background-color: #fffff555;
}

.skill-grid .skill-grid__block:nth-child(5) {
  height: 600px;
  background-color: #fffff5cb;
}

.skill-grid .skill-grid__block:nth-child(6) {
  background-color: #fffff555;
}

.skill-grid__title {
  margin: 1rem;
  text-align: center;
}

.skill-grid__content {
  margin: 1rem;
  text-align: center;
}

.skill-grid .progress {
  margin-left: 7rem;
  margin-right: 7rem;
}

.skill-grid .progress-bar {
  background-color: black;
}

.page-footer {
  background-image: url(./img/gate.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.page-footer .row {
  background-color: #fffff555;
}

.page-footer .list-unstyled li {
  color: black;
}
/*# sourceMappingURL=index.css.map */