// * {
//     border: 1px solid red;
// }
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.pic {
    height: 70rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-bar {
    z-index: 1;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    &-nav {
        list-style-type: none;
        margin: 0;
        display: flex;
        padding: 0;
        background-color: #333;
        width: 100%;
        // overflow: auto;
    }
    &_nav-link {
        display: inline-block;
        color: white;
        font-size: large;
        padding: 1rem 1rem;
        text-decoration: none;
    }
    &_nav-link:hover {
        text-decoration: none;
        background-color: black;
        color: white;
    }
}

.header-main-bg {
    background-image: url(./img/gate.jpeg);
}

.container {
    max-width: 100%;
}

.header-main {
    width: 100%;
    &_content {
        display: flex;
        justify-content: space-evenly;
    }
    &__profile {
        flex: 1;
    }
    &__picture {
        flex: 1;
    }
    &_item {
        margin-left: 10rem;
        margin-top: 10rem;
        width: 500px;
        height: 500px;
    }
    &_title {
        display: flex;
        font-family: monospace;
        justify-content: center;
        font-size: 4rem;
        margin: 0;
        &_content {
            font-family: monospace;
        }
    }
}

.flip-card {
    background: transparent;
    width: 320px;
    height: 520px;
    margin-left: 13rem;
    margin-top: 10rem;
    perspective: 1000px;
    &-inner {
        position: relative;
        background-image: url(./img/mountain.jpeg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1.5s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 12);
    }
    &:hover &-inner {
        transform: rotateY(180deg);
    }
    &-front &-back {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &-front {
        background-color: #bbb;
        color: black;
    }
    &-back {
        background: black;
        color: white;
        transform: rotateY(180deg);
    }
}

.sect-main {
    background-image: url(./img/pexels-photo-2187315.jpeg);
    .block {
        display: flex;
        border: 1px solid black;
        background-color: white;
        width: 50rem;
        height: 200px;
    }
    .block2 {
        display: flex;
        background-color: white;
        width: 50rem;
        height: 200px;
        flex-direction: column;
        border: 1px solid black;
    }
}